<h1>Listing challenges given to you</h1>
<p id="notice"><%= notice %></p>
<% if !@challenges_to_me.blank? %>
<table>
  <tr>
    <th>Challenger name</th>
    <th>Challenger Email</th>
    <th>Reward point</th>
    <th>Actions</th>
    <th></th>
  </tr>

<% @challenges_to_me.each do |challenge| %>
  <tr>
    <td><%= challenge.user.username %></td>
    <td><%= challenge.user.email %></td>
    <td><%= challenge.points %></td>
    <% challenge_status = UserChallenge.where(:challenge_id => challenge.id,:competitor_id => current_user.id).first %>
    <td>
      <% if challenge_status.is_active == false %>
          <% if challenge_status.is_approved == true %>
            You Won 
          <% elsif challenge_status.is_approved == false %>
            You Lost
          <% elsif challenge_status.is_completed == true %>
            Waiting approval
          <% elsif challenge_status.is_accepted == false %>
            You Rejected
          <% else %>
            Challenge over
          <% end %>
      <% elsif challenge_status.is_active == nil %>
          <% if challenge_status.is_approved == false %>
            You Lost
          <% elsif challenge_status.is_completed == true %>
            Waiting approval
          <% elsif challenge_status.is_accepted == true %>
            <%= link_to 'Completed', complete_challenge_users_path(:challenege_id => challenge.id) %>
          <% elsif challenge_status.is_accepted == false %>
            You Rejected
          <% else %>
            <%= link_to 'Accept', accept_challenge_users_path(:challenege_id => challenge.id) %>
            <%= link_to 'Reject', reject_challenge_users_path(:challenege_id => challenge.id) %>
          <% end %>
      <% end %>    
    </td>
    <td></td>
  </tr>
<% end %>
</table>
<% else %>
<h3> You do not have any challenges to compete</h1>
<% end %>

<br />

<%#= link_to 'New User', new_user_path %>
