<h1>Listing Your challenges</h1>
<% if !@challenges.blank? %>
<% @challenges.each do |challenge| %>
 <h3> <%= challenge.title %> ,
<%= challenge.points %> points each </h3>
 <% connected_users = UserChallenge.where(:challenge_id => challenge.id) %>
 <% if !connected_users.blank? %>
 <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status/Actions</th>
    </tr>
  </thead>
</table>
<table>
  <tbody>
 <% connected_users.each do |participant| %>
 <% user = User.where(:id => participant.competitor_id).first %>
 <tr>
    <td><%= user.username if user.username.present? %></td>
    <td>
    <% if participant.is_approved == false %>
      Lost
    <% elsif participant.is_approved == true %>
      Won
    <% elsif participant.is_accepted == false %>
      Rejected 
    <% elsif participant.is_accepted == true && participant.is_completed == 'nil' %>
      Accepted
    <% elsif participant.is_accepted == true && participant.is_completed == true %>
      <%= link_to 'Approve' , approve_challenge_users_path(:challenge_id => challenge.id, :competitor_id => participant.competitor_id) %>
      <%= link_to 'Disapprove' , disapprove_challenge_users_path(:challenge_id => challenge.id, :competitor_id => participant.competitor_id) %>
    
    <% else %>
      Pending request to join
    <% end %>
    </td>
    </tr>
 <% end %>
  </tbody>
</table>
<% end %>
<% end %>
<% else %>
<h3>No any challenges given by you</h3>
<% end %>

</br>
<%= link_to 'Give a Challenge', new_challenge_path %>
